################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/WindowsFormsApplication1/FileContentIndex/a0463d5e-bcd9-4fca-8f58-fc48aac483ed.vsidx
/.vs/WindowsFormsApplication1/FileContentIndex/f54aa518-1d85-4d02-8a6d-578e7212c304.vsidx
